<nav class="flex justify-center align-center">
  <div class="flex w-[60rem] justify-evenly items-center p-[1rem]">
    <%= link_to "Dashboard", admin_dashboard_path %>
    <%= link_to "Recordings", admin_recordings_index_path %>
    <%= link_to "Species", admin_recordings_index_path %>
  </div>
</nav>